h1,
p {
    display: table-cell;
    font-family: Verdana, sans-serif;
}

div {
    font-family: "Courier New", Courier, monospace;
}

.muted-text {
    color: #888;
}

.underlined-text {
    text-decoration: underline;
}

.mt-custom {
    margin-top: 0.5em;
}

code {
    background-color: black;
    color: white;
}

.in-paragraph {
    display: inline-block;
}

ul {
    margin-bottom: 0.5em;
}

li {
    margin-bottom: 0.5em;
}